{% extends "base.html.twig" %}
{# {% block title %}Hello {{ name }}!{% endblock %} #}
{% block body %}
	<h1>liste des livres</h1>
	<table border="1" class="table">
		<tr>
			<th>titre :</th>
			<th>isbn :</th>
			<th>editeur :</th>
			<th>dateedition :</th>
			<th>prix :</th>
			<th colspan="3">Action</th>
			{# <th>detail</th>
						<th>supprimer</th>
						<th>edit</th> #}
		</tr>
		{% for livre in livres %}
			<tr>
				<th>
					{{livre.titre|title}}
				</th>
				<th>
					{{livre.isbn}}
				</th>
				<th>
					{{livre.editeur}}
				</th>
				<th>
					{{livre.editedAt|date('d/m/Y')}}
				</th>
				<th>
					{{livre.prix}}
				</th>
				<th>
                    <a href="{{ path('app_admin_livres_show', {'id': livre.id}) }}" class="btn btn-primary">Voir détail</a>
				</th>
				<th>
					<a href="{{ path('app_admin_livres_delete', {'id': livre.id}) }}" type="button" class="btn btn-danger">supprimer</a>
				</th>
				<th>
					<a href="{{ path('app_admin_livres_update', {'id': livre.id}) }}" type="button" class="btn btn-success">edit</a>
				</th>
			</tr>
		{% endfor %}

	</table>
{% endblock %}
